              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    <a href="/posts/android.html">
                      Python 学习
                    </a>
                  </li>
                  <li>
                    <a href="/posts/web.html">
                     工具使用
                    </a>
                  </li>
                  <li>
                    <a href="/posts/read.html">
                      读书笔记
                    </a>
                  </li>
                  <li>
                    <a href="/archives.html">
                      
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    <a href="/posts/program.html">
                      
                    </a>
                  </li>                  
				  <li>
                    <a href="/posts/linux.html">
                      
                    </a>
                  </li>
                  <li>
                    <a href="/posts/other.html">
                      
                    </a>
                  </li>
                  <li>
                    <a href="/tags.html">
                      
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
