            <ul class="list-unstyled">
              <li>
                <a href="https://github.com" rel="nofollow">
                  GitHub
                </a>
              </li>
              <li>
                <a href="https://stackoverflow.com/" target="_blank" rel="nofollow">
                  StackOverFlow
                </a>
              </li>
              <li>
                <a href="http://iphonedev.co.kr/" target="_blank" rel="nofollow">
                  IPhoneDev
                </a>
              </li>	  
            </ul>
