
		<div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">
              Toggle navigation
            </span>
            <span class="icon-bar">
            </span>
            <span class="icon-bar">
            </span>
            <span class="icon-bar">
            </span>
          </button>
          {% if page.title == "홈" %}
          	<a class="navbar-brand" href="/" style="color: #ffffff;">
          {% else %}
          	<a class="navbar-brand" href="/">
          {% endif %}
          	홈
          </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
			{% for cat in site.all_categories %}
				<li>
				{% if page.category == cat[0] %}
					<a href="{{cat[2]}}" style="color: #ffffff;">
				{% elsif page.title == "about" %}
					{% if cat[0] == "about" %}
					 	<a href="{{cat[2]}}" style="color: #ffffff;">
					{% else %}
						<a href="{{cat[2]}}">
					{% endif %}
				{% else %}
					<a href="{{cat[2]}}">
				{% endif %}
					{{cat[1]}}
				  </a>
				</li>
			{% endfor %}
			</ul>
        </div>


		